:root {
  --background: hsl(225, 6%, 13%);
  --bg-buttons: rgb(95, 73, 131);
  --text-buttons: #f8faff;
  --socials-buttons: rgb(168, 172, 179);
  --texto: rgb(232, 234, 237);
  --texto-secundario: rgb(154, 160, 166);
}
@media (max-width: 992px) {
  header {
    width: 100%;
  }

  #sectionHero {
    flex-direction: column-reverse;
  }

  .contenedorHero {
    padding-right: 0px;
    height: 463px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  /* GITHUB VERCEL TELEFONO*/
  .divUlBtns .ulBtnsContacto {
    flex-direction: row;
  }

  /*oculto el div vertical gris */
  .divDecoration {
    display: none;
  }
}
/* **************************************************************************************************** */
@media (max-width: 767px) {
  /* menu que se muestra debajo del header para menu hamburguesa */
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 36%;
    right: 36%;
    width: 65%;
    height: 100%;
    flex-direction: column;
    background-color: var(--blanco);
    align-items: flex-start;
    padding: 20px 30px;
    gap: 35px;
    z-index: 2;
    display: none;
  }
  /* color para los enlaces  */
  .navbar-list a {
    font-size: 20px;
    color: var(--texto);
  }
  /* Mostramos el icono del menu div contenedor */
  .activo {
    display: flex;
    order: 2;
    cursor: pointer;
  }
  /* menu hamburguesa, le quitamos el none aplicado en desktop para mostrarlo*/
  .open-menu {
    display: flex;
  }
  #sectionHero {
    height: 85vh;
  }

  .contenedorHero {
    padding: 0px;
    height: 390px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /* contenedor del saludo en general*/
  .divTitulo {
    margin-top: 0px;
    height: 360px;
  }
  /*hola ...*/
  .spanTitulo {
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 12px;
  }

  /*Gabriel Torrez*/
  .h1Titulo {
    margin-top: 6px;
    font-size: 5.3rem;
    width: 380px;
    border: solid yellow 2px;
    line-height: 0.9;
    font-weight: 600;
  }
  .spanTitulo2 {
    margin-top: 16px;
  }
  /* contenedor contactame descargarCv*/
  .divBtnsHero {
    margin-top: 18px;
    height: auto;
    width: 250px;
    flex-direction: column;
    gap: 10px;
  }
  /*btns  contactame descargarCv*/
  .aHero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 60px;
    width: 240px;
    font-size: 20px;
    border-radius: 5px;
  }
  .contactameLogo {
    height: 20px;
  }

  /* div contenedor del github vercel y contacto vertical en el hero*/
  .divUlBtns {
    border: none;
    margin-top: 0px;
    height: auto;
    padding: 0px;
  }

  .ulBtnsContacto {
    display: flex;

    gap: 20px;
    bottom: 0;
    left: 0;
  }
}
