:root {
  --background: hsl(225, 6%, 13%);
  --bg-buttons: rgb(95, 73, 131);
  --text-buttons: #f8faff;
  --socials-buttons: rgb(168, 172, 179);
  --texto: rgb(232, 234, 237);
  --texto-secundario: rgb(154, 160, 166);
}
@media (max-width: 992px) {
  header {
    width: 100%;
  }

  #sectionHero {
    flex-direction: column-reverse;
  }

  .contenedorHero {
    padding-right: 0;
    height: 463px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  /* GITHUB VERCEL TELEFONO*/
  .divUlBtns .ulBtnsContacto {
    flex-direction: row;
  }
  /* UL Botones Hero: Github  Linkedin Cel*/
  .ulBtnsContacto {
    bottom: unset;
    left: unset;
  }

  /*oculto el div vertical gris */
  .divDecoration {
    display: none;
  }
  /*aumento width a sections y contenedores*/
  #sectionSobreMi {
    margin-top: 60px;
    width: 100%;
    padding: 0;
  }
  .pSobreMi {
    width: 100%;
    padding: 0;
  }
  .divTrayectoria {
    width: 100%;
  }
  /*proyectos*/
  .divTitulosProyectos {
    width: 95%;
  }
  .divContenedorProyectos {
    width: 95%;
  }
  .divTextProyecto {
    margin-top: 10px;
  }
  /* parrafo descriptivo del proyecto*/
  .pProyecto {
    margin-top: 20px;
    color: var(--texto);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7rem;
    background-color: var(--bg-buttons);
    padding: 16px 14px;
    border-radius: 10px;
    width: min(50%, 600px);
  }

  .divCardsOtrosProyectos {
    flex-wrap: wrap;
    width: 95%;
    gap: 8px;
    padding-bottom: 1px;
  }
  .cardOtroProyecto {
    height: 340px;
    width: max(45%, 290px);
    padding: 20px;
    border: 0.1px solid #e5e7eb1e;
    box-shadow: 10px 10px 20px hsl(225, 7%, 11%);
    border-radius: 5px;
  }

  /* CONTACTO*/
  #sectionContacto {
    padding-top: 130px;
    width: 95%;
  }
  .spanContactame {
    height: 75px;
    width: 320px;
    display: flex;
    align-items: center;
    padding-left: 13px;
    background-color: var(--bg-buttons);
    border-radius: 7px;
    font-size: 2.9rem;
  }
  /* FOOTER */
  footer h2 {
    margin-top: 70px;
    padding-top: 0px;
  }
  footer {
    height: 345px;
  }
}
/* **************************************************************************************************** */
@media (max-width: 767px) {
  /* menu que se muestra debajo del header para menu hamburguesa */
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 36%;
    right: 36%;
    width: 65%;
    height: 100%;
    flex-direction: column;
    background-color: var(--blanco);
    align-items: flex-start;
    padding: 20px 30px;
    gap: 35px;
    z-index: 2;
    display: none;
  }
  /* color para los enlaces  */
  .navbar-list a {
    font-size: 20px;
    color: var(--texto);
  }
  /* Mostramos el icono del menu div contenedor */
  .activo {
    display: flex;
    order: 2;
    cursor: pointer;
  }
  /* menu hamburguesa, le quitamos el none aplicado en desktop para mostrarlo*/
  .open-menu {
    display: flex;
  }

  /* ****************************************** SECCION PORTADA *********************************/

  #sectionHero {
    width: 100%;
    height: 85vh;
  }
  .contenedorHero {
    width: 300px;
    padding: 0px;
    height: 390px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /* contenedor del saludo en general*/
  .divTitulo {
    margin-top: 0px;
    height: 360px;
  }
  /*hola ...*/
  .spanTitulo {
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 12px;
  }

  /*Gabriel Torrez*/
  .h1Titulo {
    margin-top: 6px;
    font-size: 5.3rem;
    width: auto;
    line-height: 0.9;
    font-weight: 600;
  }
  .spanTitulo2 {
    margin-top: 16px;
  }
  /* contenedor contactame descargarCv*/
  .divBtnsHero {
    margin-top: 18px;
    height: auto;
    width: 250px;
    flex-direction: column;
    gap: 10px;
  }
  /*btns  contactame descargarCv*/
  .aHero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 60px;
    width: 240px;
    font-size: 20px;
  }
  .contactameLogo {
    height: 20px;
  }

  /* div contenedor del github vercel y contacto vertical en el hero*/
  .divUlBtns {
    border: none;
    margin-top: 0px;
    height: auto;
    padding: 0px;
  }

  .ulBtnsContacto {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    bottom: 0;
    left: 0;
  }
  /* ******************************************* Sobre mi ***************************************/
  #sectionSobreMi {
    margin-top: 60px;
    padding: 20px;
  }
  /*contenedor del parrafo*/
  .divDown {
    width: 100%;
  }

  /*parrafo sobre mi*/
  .pSobreMi {
    color: var(--texto);
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  /*slider habilidades mas rapido*/
  .slider .slide-track {
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 11s linear infinite;
    width: calc(150px * 10);
    gap: 20px;
  }

  /***********************************   TRAYECTORIA *******************************************/
  /*Contenedor de Mi trayectoria, Educacion y cards */
  .divTrayectoria {
    width: 100%;
    margin-bottom: 50px;
  }
  /*div con titulo educacion y otro div que contiene las cards*/
  .divEducacion {
    width: 100%;
  }
  /* div que contiene las cards de estudios*/
  .divTiempo {
    width: 100%;
  }
  /*modifico width del ol que contiene: los 3 li de las 3 cards*/
  .divTiempo ol {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  /*width para cada card*/
  .divTiempo ol li {
    width: 100%;
  }
  /*modifico solo la segunda card hacia la derecha y su icono calendario */
  .liRight {
    text-align: right;
  }
  .divLinealRight {
    justify-content: flex-end;
  }

  .divDecoration2 {
    display: none;
  }

  /************************** PROYECTOS ****************************/

  .divContenedorProyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .divProyecto {
    flex-direction: column-reverse;

    border: 0.1px solid #e5e7eb1e;
    height: 30%;
    width: 93%;
    border-radius: 7px;
  }
  .imgProyecto {
    width: 100%;
    height: 55%;
    border-radius: 7px;
    margin: 0px;
  }
  .divTextProyecto {
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
    padding: 0;
    gap: 20px;
  }

  .text4x1 {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .pProyecto {
    background-color: var(--background);
    position: relative;
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding: 0px 14px;
    width: min(600px, 90%);
  }
  .ulLenguajes {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .divEnlacesProyecto {
    margin-top: 0px;
    display: flex;
    justify-content: end;
    gap: 24px;
    padding-right: 20px;
  }

  #sectionContacto {
    flex-direction: column;
    padding-top: 70px;
  }
  .divContactoTexto {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divContactoTexto h1 {
    text-align: center;
  }

  .divContactoTexto span {
    font-size: 1.5rem;
    width: 250px;
    height: 70px;
    margin-bottom: 30px;
  }
  .pContacto {
    padding: 0px;
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
  }
  .divContactoTexto .font-bold {
    font-size: 1rem;
  }
  .divContactoForm {
    width: 95%;
  }

  footer h2 {
    padding-left: 15px;
  }
  footer p {
    font-size: 0.8rem;
  }
  .font-boldFooter {
    padding-left: 5px;
    padding-bottom: 10px;
  }
}
